$bg: #282a36;
$card: #1a1b26;
$pink: #ff79c6;
$purple: #bd93f9;
$green: #50fa7b;

* { all: unset; font-family: "JetBrainsMono Nerd Font"; }

.bg { 
  padding: 20px; 
  background-color: transparent; 
}

.card {
  background-color: $card;
  border-radius: 15px;
  border: 2px solid #89b4fa;
}

/* Dark background of the ring */
.storage-ring {
  background-color: #3b3f4c;
  border-radius: 50%;
}

.m-title { font-weight: bold; color: #f8f8f2; font-size: 15px; }
.art { border-radius: 20px; background-size: cover; background-position: center; }

/* Sliders */
scale trough {
  background-color: #3b3f4c;
  min-height: 12px;
  border-radius: 8px;
  highlight { border-radius: 8px; }
}
.bar-p highlight { background-color: $purple; }
.bar-g highlight { background-color: $green; }
.bar-w highlight { background-color: #7aa2f7; }

/* Clock */
.t-h { font-size: 45px; font-weight: bold; color: white; }
.t-m { font-size: 45px; font-weight: bold; color: $pink; }

calendar {
  color: #6272a4;
  padding: 10px;
  background-color: transparent;
  &.header { color: $pink; font-weight: bold; }
  &:selected { background-color: $pink; color: #1a1b26; border-radius: 5px; }
}
