/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #090b15 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c1c2c4; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c1c2c4; background-color: rgba(61,110,186,0.4)}
.cm-s-nqqwal { background-color: #090b15; color: #c1c2c4; }
.cm-s-nqqwal span.cm-builtin { color: #35609F; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #585b6c; }
.cm-s-nqqwal span.cm-keyword { color: #355FA0; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #3967AC; }
.cm-s-nqqwal span.cm-def { color: #3B6BB3; }
.cm-s-nqqwal span.cm-variable { color: #3D6EBA; }
.cm-s-nqqwal span.cm-variable-2 { color: #3B6BB3; }
.cm-s-nqqwal span.cm-string { color: #35609F; }
.cm-s-nqqwal span.cm-string-2 { color: #35609F; }
.cm-s-nqqwal span.cm-number { color: #3B6BB3; }
.cm-s-nqqwal span.cm-tag { color: #355FA0; }
.cm-s-nqqwal span.cm-property { color: #3D6EBA; }
.cm-s-nqqwal span.cm-attribute { color: #3D6EBA; }
.cm-s-nqqwal span.cm-qualifier { color: #3967AC; }
.cm-s-nqqwal span.cm-meta { color: #3B6BB3; }
.cm-s-nqqwal span.cm-header { color: #355FA0; }
.cm-s-nqqwal span.cm-operator { color: #355FA0; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(59,107,179,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #355FA0; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #090b15); }
